

.heading{
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
}

.row{
    margin-top: 80px;
}

.card-title1{
    margin-bottom: 40px;
}

#button{
    margin-bottom: 22px;
}

#button1{
    margin-top: 20px;
}

.head{
    text-align: center;
    margin-top: 50px;
}

.col-md-12{
    margin-top: 50px;
}

.pic{
    height: 80px;
    width: 80px;
}

.space{
    margin-top: 40px;
}

.one{
    margin-top: 50px;
    text-align: center;
}

.two{
    text-align: center;
}

.error-details{
    margin-top: 80px;
    text-align: center;
}
